/* styles/globals.css (or your preferred CSS file) */

.slick-dots li button:before {
    color: #ededed; /* Change this to your desired color */
  }

.slick-dots li.slick-active button:before {
    color: #ffcc00; /* Change this to a different color for the active dot */
  }

  /* HTML: <div class="loader"></div> */
.loader {
  --w:10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  line-height: 1.4em;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) 0 #ddd;
  animation: l20 2s infinite linear;
}
.loader:before {
  content:"Loading...";
}

@keyframes l20 {
  9.09% {text-shadow: 
        calc( 0*var(--w)) -10px #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) 0 #ddd}
  18.18% {text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) -10px #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) 0 #ddd}
  27.27% {text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) -10px #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) 0 #ddd}
  36.36% {text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) -10px #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) 0 #ddd}
  45.45% {text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) -10px #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) 0 #ddd}
  54.54% {text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) -10px #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) 0 #ddd}
  63.63% {text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) -10px #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) 0 #ddd}
  72.72% {text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) -10px #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) 0 #ddd}
  81.81% {text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) -10px #ddd,calc(-9*var(--w)) 0 #ddd}
  90.90% {text-shadow: 
        calc( 0*var(--w)) 0 #ddd,calc(-1*var(--w)) 0 #ddd,calc(-2*var(--w)) 0 #ddd,calc(-3*var(--w)) 0 #ddd,calc(-4*var(--w)) 0 #ddd, 
        calc(-5*var(--w)) 0 #ddd,calc(-6*var(--w)) 0 #ddd,calc(-7*var(--w)) 0 #ddd,calc(-8*var(--w)) 0 #ddd,calc(-9*var(--w)) -10px #ddd}
}